{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
    </tr>
{% endblock %}
{% block rows %}
    {% for c in object_list %}
    <tr>
        <td>{{c.id}}</td>
        <td>{{c.name}}</td>
        <td>
            <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
            <button type="button" class="btn btn-warning"><i class="fas fa-edit"></i></button>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
