{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static '/js/product/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Categoria</th>
        <th scope="col">PVP</th>
        <th scope="col">Accion</th>
    </tr>
{% endblock %}
{% block rows %}
    
    <div class="modal fade" role="dialog" id="editModal">

    </div>

    <div class="modal fade" role="dialog" id="deleteModal">

    </div>

{% endblock %}

{% block javascript %}


{% endblock %}
