{% extends 'home.html' %} 
{% load widget_tweaks %} 
{% block content %}

<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">
      {% if action == 'add' %}
        <i class="fas fa-plus"></i>
      {% else %}
        <i class="fas fa-edit"></i>
      {% endif %} 
      {{title}}
    </h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-8">
        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">Details of Products</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="form-group">
              <label>Search a Product</label>
              <div class="input-group input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter a product"
                  name="search"
                />
                <span class="input-group-append">
                  <button type="button" class="btn btn-danger btn-flat">
                    <i class="fas fa-times"></i>
                  </button>
                </span>
              </div>
            </div>
            <table class="table" id="prod_table">
              <thead>
                <tr>
                  <th>Action</th>
                  <th>Product</th>
                  <th>Category</th>
                  <th>PVP</th>
                  <th>Amount</th>
                  <th>SubTotal</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">Details of Bill</h3>
          </div>
          <div class="card-body">
            {% for field in form.visible_fields %}
            <div class="form-group">
              <label>{{field.label}}:</label>
              {{field|add_class:'form-control'|attr:'autocomplete:off'}}
              {{form.media}}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer"></div>
</div>
{% endblock %} {% block javascript %}
<script>
  $(function () {
    $("#data").DataTable({
      responsive: true,
      autoWidth: false,
    });
  });
</script>
{% endblock %}
