{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static '/js/user/list.js' %}"></script>
    <script src="{% static '/js/user/functions.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Names</th>
        <th scope="col">Username</th>
        <th scope="col">Date Joined</th>
        <th scope="col">Groups</th>
        <th scope="col">Action</th>
    </tr>
{% endblock %}
{% block rows %}
    
    
    <div class="modal fade" role="dialog" id="editModal">

    </div>

    <div class="modal fade" role="dialog" id="deleteModal">

    </div>

{% endblock %}

{% block javascript %}

{% endblock %}
