{% extends 'home.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head_list %}
    <script src="{% static '/js/user/functions.js' %}"></script>
{% endblock %}
{% block content %}
<form class='form' method='POST' action='.' enctype="multipart/form-data">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
            {% if action == 'edit' %}
                <i class="fas fa-edit"></i>
                    {{ title }}
                </h3>
            {% endif %}
            {% if action == 'add' %}
            <i class="fas fa-plus"></i>
                {{ title }}
            </h3>
            {% endif %}
        </div>
        <div class="card-body">
            {% csrf_token %}
            <input name="action" type="hidden" value="{{action}}">
            {% for field in form.visible_fields  %}
                <div class="form-group">
                    <label for="name">{{field.label}}:</label>
                    {{field|add_class:'form-control'|attr:'autocomplete:off'}}
                </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-flat" id="btnTest"><i class="fas fa-save mr-2"></i>Save</button>
        </div>
    </div>
</form>
<script type="application/javascript">
    {% if form.errors %}
        var errors = '';
        {% for field in form %}
            {% for error in field.errors %}
                errors += '{{error}}\n'
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            errors += '{{error}}\n'
        {% endfor %}
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: errors,
        });
    {% endif %}

    $('form').on('submit',function(e){
        e.preventDefault()
        var params = $(this).serializeArray();
        edit_profile_user('{{form_submit}}',params)
    });
</script>
{% endblock %}