<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Django Project</title>
    {% include 'headers.html' %}
    
    {% include 'scripts.html' %}
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">

    <div class="wrapper">

      {% include 'header.html' %}


      {% include 'sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header"></section>

        <section class="content">
          {% block content %} {% endblock content %}
        </section>
      </div>

      {% block javascript %}
      {% endblock %}

      {% include 'footer.html' %}

      <aside class="control-sidebar control-sidebar-dark"></aside>
    </div>
    <script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
  </body>
</html>
