{% extends 'home.html' %}
{% load static %}
{% block content %}
  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fas fa-search"></i>
          {{ title }} // {{date_now}}
      </h3>
    </div>
    <div class="card-body">
      <table class="table" id="data">
        <thead>
        {% block columns %}

        {% endblock %}
        </thead>
        <tbody>
        {% block rows %}

        {% endblock %}
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <button type="button" onclick="openCreateModal('{{create_url}}')" class="btn btn-primary btn-flat">
        <i class="fas fa-plus"></i>Add
      </button>
    </div>
  </div>  
  <div class="modal fade" role="dialog" id="createModal">

  </div>
  <script type="application/javascript">
    {{dt_function}}
  </script>
{% endblock %}





