#buttonCancelEditCategory{
    margin-left: 10px;
}
#buttonSubmitEditCategory{
    margin-left: 610px;
}

#buttonCancelDeleteCategory{
    margin-left: 10px;
}
#buttonSubmitDeleteCategory{
    margin-left: 610px;
}